@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --bgOrange: #e84949;
    --bgOrange: #4a85a3;
}
#wraper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative
}
.container{
    width: 100vw;
    margin: 0 auto;
}

/* social-media-link */
.social-media-link{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 1rem 0.8rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.socil-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.socil-links i{
    font-size: 30px;
    padding: 0.5rem;
    color: #fff;
    background-color: var(--bgOrange);
    border: 3px solid var(--bgOrange);
    border-radius: 50%;
    transition: all 0.7s;
}
.socil-links i:hover{
    color: var(--bgOrange);
    border: 3px solid var(--bgOrange);
    background: none;
}

/* navbar section  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 3rem;
    z-index: 10;
    top: 0;
    position: sticky;
    backdrop-filter: blur(10px);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.logo img{
    width: 150px;
}
.nav-items{
    display: flex;
    gap:2rem;
    padding: 0 4em;
}
.nav-items a{
    font-size:20px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.nav-items a:hover{
    transition:0.4s;
    color: var(--bgOrange)
}

/* hero section  */
.faded-text{
    position:absolute;
    user-select:none;
    font-size: 6em;
    color:rgb(231,231,231);
    
    bottom: -14.3%;
    left: 2rem;
    font-weight: bold;
    transition: all 3s;
}
.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 4rem;
    padding-bottom: 8rem;
}
.hero-section-left{
    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
    margin-left: 5rem;
}.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: var(--bgOrange);
    /* color: #59AEB3; */
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
.btn-pink{
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before {
    transform: scaleX(1);
}
.btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
}

.hero-section-right{
    position: relative;
}
.absolute{
    position: absolute;
}
.user-image{
    padding:2.5rem;
    filter:grayscale(1);
    border-radius: 10px;
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img{
    width: 300px;
    z-index: -9;
}
@keyframes scaleImage {
    0%{
        transform: scale(1);
        filter: grayscale(0);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dots-icons;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes dots-icons {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation-name: cubeRotate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes cubeRotate {
    0%{
        transform: translateY(0) rotateY(0deg);
    }
    50%{
        transform: translateY(-12px) rotateY(180deg);
    }
    100%{
        transform: translateY(0px) rotateY(360deg);
    }
}
.icon-circle{
    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name:shakeEffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes shakeEffect{
    50%{
        left:5%;
        bottom:10%;
    }
}
.icon-zigzag{
    z-index:9;
    top:1.5em;
    left:-0.3em;
    animation:zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation{
    50%{
        left:5%;
        top:2%;
    }
}
.icon-plus{
    z-index:9;
    top:-0.8rem;
    left: 50%;
    animation:shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
    50%{
        top:3%;
        left:48%
    }
}

/* Project section  */
.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 1rem;
    padding-top: 4rem;
}
.page-header{
    font-size: 90px;
    padding: 30px;
    color: var(--bgOrange);
    text-align: center;
}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 120px;
}
.project-card{
    width: 90%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 40px #1f1f1f;
    position: relative;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be,#343d687c);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    z-index: 8;
    font-size: 200px;
    font-weight: 600;
    color: white;
    opacity: 0;
}
.project-number-left{
    top: -45px;
    right: -40px;
}
.project-number-right{
    top: -45px;
    left: -40px;
}
.project-card:hover .project-number{
    opacity: 1;
}
.project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
}
.project-content-left{ 
    left:10%;
}

.project-content-right{ 
    right:10%;
}
.project-skills-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
.project-skill{
    width: 40px;
}
.project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
}
  
.project-subHeading{
    width:70%;
    font-size:16px;
    font-style: italic;
}


.btn-grp{
    display:flex;
    gap:0.9rem;
    align-items:center;
}

.btn-project{
    border:none;
}
.btn-project:hover{
    border:none;
}
.icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
}
.icon:hover{
    color: var(--bgOrange);
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background: url(./images/projects/Project1.png);
    background-size: cover;
}
#project2{
    background: url(./images/projects/Project2.png);
    background-size: cover;
    left: 10%;
}
#project3{
    background: url(./images/projects/Project3.png);
    background-size: cover;
}
#project4{
    background: url(./images/projects/Project4.png);
    background-size: cover;
    left: 10%;
}

/* skills section  */
.skill-section{
    position:relative;
    display:flex;
    padding: 7rem 5rem;
    margin:10rem auto;
}
.skill-section-left{
    width:50%;
    display:flex;
    flex-direction:column;
}
.skill-subHeading{
    width:85%;
    text-align: justify;
}
  
.skill-subHeading p{
    margin:15px 0;
}
.skill-heading{
    font-size:50px;
    font-weight: bold;
    color: var(--bgOrange);
    line-height: 50px;
}
.skill-heading .caps{
    font-size: 90px;
}
.skill-section-right{
    display:flex;
    flex-wrap:wrap;
    width:50%;
    position:relative;
    gap:2rem;
    justify-content: center;
}
.blob-style{
    position:absolute;
    top:50%;
    left:50%;
    z-index:-5;
    transform:translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
}
  
@keyframes blobAnimate {
    50%{
      top:54%;
      left:46%;
    }
}
.skills-logo{
    width:80px;
    transition:all 0.5s;
}
  
.skills-logo:hover{
    transform:scale(1.2);
}

.skill-fade-text{
    font-size: 10rem;
    position: absolute;
    font-style:bold;
    color:rgb(231,231,231);
    bottom:-12rem;
    right:0;
    user-select:none;
    overflow-y:hidden;
}

/* contact-us section  */
.contact-us-section{
    width: 100%;
    background-color: rgb(231, 231, 231);
    padding: 4rem 10rem;
}
.contact-heading{
    font-size: 3rem;
    color: var(--bgOrange);
}
.contact-sub-heading{
    font-size: 2rem;
    color: #343d68aa;
    text-transform: capitalize;
}
.input-form{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 1.4rem;
}
.input-form input, textarea{
    width: 90%;
    padding: 1% 3%;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px 10px gray;
    outline: none;
}
.submit-btn:hover{
    transform: scale(0.9);
}

/* footer  */
.footer-section{
    width: 100%;
    height: 200px;
    background-color: #343d68;
    position: relative;
    z-index: 2;
}
.fadded-text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(173, 152, 249);
    font-size: 4rem;
    z-index: -1;
}
.links{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
.sections-links .fa-solid{
    display: none;
}
.sections-links a{
    color: #fff;
    padding: 0.5rem;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s;
}
.sections-links a:hover{
    color: var(--bgOrange);
}
.social-links .fa-brands, .social-links .fa-solid{
    color: #fff;
    font-size: 30px;
    padding: 0 0.5rem;
    transition: 0.4s;
}
.social-links .fa-brands:hover, .social-links .fa-solid:hover{
    color: var(--bgOrange);
    transform: translateY(-10px);
}

@media (max-width:500px){
    .logo img{
        width: 100px;
    }
    .navbar{
        padding: 0.5rem 1rem;
    }
    .nav-items{
        display: none;
    }
    .hero-section{
        flex-wrap: wrap-reverse;
        gap: 2rem;
    }
    .icons img{
        width: 50%;
    }
    /* side-bar-icons */
    .social-media-link{
        left: 85%;
        right: 0;
        background: none;
        padding: 1rem 0.8rem;
    }
    .socil-links{
        gap: 0.8rem;
    }
    .socil-links i{
        font-size: 18px;
        padding: 0.3rem;
    }
    .hero-section-left{
        margin: 1rem;
    }
    .hero-section-right{
        width: 70%;
        margin-top: -2rem;
    }
    .user-image{
        padding:1rem;
    }
    .user-image img{
        width: 100%;
    }
    .icon-dots{
        bottom: -1rem;
        right: -3rem;
    }
    .icon-zigzag{
        left: -1rem;
    }
    .icon-cube{
        right: -1rem;
    }
    .hero-section{
        padding: 0 2rem;
    }
    .hero-section-left{
        gap: 1rem;
    }
    .hero-section-heading{
        font-size: 22px;
    }
    .hero-section-sub-heading{
        font-size: 16px;
    }
    .hero-section-description{
        font-size: 12px;
        text-align: justify;
        margin-top: 0;
        width: 100%;
    }
    .faded-text{
        font-size: 25px;
        bottom: -4.4rem;
        left: 0;
    }
    /* project */
    .page-header{
        font-size: 2rem;
    }
    .project-container{
        max-width: 90%;
        margin: 0 auto;
        padding: 3rem 0;
        gap: 90px;
    }
    .project-card{
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .project-number{
        font-size: 70px;
        font-weight: 400;
    }
    .project-card:hover .project-number{
        opacity: 1;
    }
    .project-content{
        padding:1em;
        bottom:10%;
        z-index:5;
        gap:0.5em;
    }
    .project-skills-container{
        width:60%;
    }
    .project-skill{
        width: 15px;
    }
    .project-heading{
        font-size:20px;
        line-height:1rem;
    }
      
    .project-subHeading{
        font-size:10px;
    }
    
    .btn-grp button{
        font-size: 12px;
        padding: 5px 10px;
    }
    .icon{
        font-size:20px;
    }
    #project2{
        left: 0%;
    }
    #project4{
        left: 0%;
    }
    .project-number-left{
        top: -30px;
        right: -15px;
    }
    .project-number-right{
        top: -30px;
        left: -15px;
    }
    /* skills section  */
    .skill-section{
        flex-direction: column;
        padding: 1rem;
        margin: 2rem 0;
    }
    .skill-section-left{
        width:100%;
    }
    .skill-subHeading{
        margin-top: 1rem;
        width:100%;
        text-align: justify;
    }
    
    .skill-subHeading p{
        font-size: 12px;
    }
    .skill-heading{
        font-size:25px;
        line-height: 20px;
    }
    .skill-heading .caps{
        font-size: 40px;
    }
    .skill-section-right{
        width:100%;
        gap:1rem;
    }
    .blob-style{
        transform:translate(-50%, -50%) scale(0.5);
    }
    .skills-logo{
        width:35px;
    }
    .skill-fade-text{
        font-size: 2rem;
        bottom: -2.5rem;
    }
    /* contact - us section  */
    .contact-us-section{
        width: 100%;
        background-color: rgb(231, 231, 231);
        padding: 2rem;
    }
    .contact-heading{
        font-size: 2rem;
    }
    .contact-sub-heading{
        font-size: 0.8rem;
    }
    .input-form{
        margin: 0;
        margin-top: 1rem;
        margin-right: 1rem;
        padding-left: 0;
    }
    .input-form input, textarea{
        width: 100%;
        font-size: 15px;
        padding: 4% 5%;
    }
    .submit-btn{
        font-size: 15px;
        padding: 0.8rem 1.8rem;
    }
    /* footer  */
    .footer-section{
        width: 100%;
        height: 200px;
        bottom: 0;
        background-color: #343d68;
        position: relative;
        z-index: 2;
    }
    .fadded-text{
        position: absolute;
        bottom: 0;
        left: 0;
        color: rgb(173, 152, 249);
        font-size: 1.8rem;
        z-index: -1;
    }
    .links{
        display: block;
        padding: 1rem;
    }
    .sections-links{
        color: #fff;
        padding: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
    }
    .sections-links a{
        font-size: 13px;
        padding: 5px 0;
    }
    .sections-links .fa-solid{
        display: inline-block;
    }
    .sections-links:hover a{
        transform: translateX(20px);
    }
    .social-links{
        display: none;
    }
}